*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 8px;
}

header{
    width: 140em;
    height: auto;
    margin: auto;
    
}

.bodyGeneral{
    width: 160em;
    height: auto;
    margin: auto;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    width: 45em;
    height: 10em;
    margin-top: 4em;
    background-color: #f05c07
}

.Encabezado{
    width: 90em;
    height: 10em;
    margin-top: 4em;
    background-color: #168374;
}
@media only screen and (max-width: 1366px){/*Laptop*/   
}

@media only screen and (max-width: 1600px){/*Laptop*/ 

}
.section{
    width: 100%;
    height: auto; 
    
}

.producto{
    width: 35em;
    height: 70em;
    margin-top: 10em; 
}

.img{
    width: 100%;
    height: 20em;
    background-color: gray;
}

.titulo{
    width: 100%;
    height: 10em;
    margin-top: 2em;
    background-color: yellow;
}

.parrafo{
    width: 100%;
    height: 6em;
    margin-top: 4em;
    background-color: gray;
}

