* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color:azure;
}

body {
    font-size: 10px;
}


/*nav*/

header {
    width: 100%;
    height: auto;
    margin: auto;
}

.bodyGeneral {
    width: 160em;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Imagen{
    width: 25em;
    height: 10em;
    margin-top: 0.1em;
    margin-left: 10em;
}
.logo {
    width: 45em;
    height: 10em;
    margin-top: 4em;
}

.encabezado {
    width: 110em;
    height: 10em;
    margin-top: 4em;
    background-image: url(../img/Music%20-%20copia.jpg);
    background-color: #168374;
}

@media only screen and (max-width: 1600px)/* Para la Laptop de 1600px*/{
    body {
        font-size: 8.5px;
    }
}

@media only screen and (max-width: 1366px) /* Para la Laptop */{
    body {
        font-size: 7px;
    }
}

section {
    width: 100%;
    height: auto;
}

.producto {
    width: 35em;
    height: 70em;
    margin-top: 10em;
}

.img {
    width: 100%;
    height: 20em;
    background-color: gray;
}

.imgRGB {
    background-image: url(../img/Guitars.jpg);
    background-size: cover;
    background-position: center;
}

.imgMusic {
    background-image: url(../img/Guitar.jpg);
    background-size: cover;
    background-position: center;
}

.imgAcu {
    background-image: url(../img/Acustic.jpg);
    background-size: cover;
    background-position: center;
}

.imgFender {
    background-image: url(../img/Fender.png);
    background-size: cover;
    background-position: center;
}

.titulo {
    width: 100%;
    height: 10em;
    margin-top: 4em;
}

.titulo h1 {
    font-size: 3em;
    color: deepskyblue;
    margin-left: 30px;
}

.parrafo {
    width: 100%;
    height: auto;
    margin-top: 4em;
}

.parrafo p {
    font-size: 1.6em;
    text-align: justify;
    font-family:sans-serif;
}


/* mobil*/

@media only screen and (max-width:767px) {
    .bodyGeneral {
        width: 97%;
    }
    .logo {
        width: 10%;
        height: 10em;
        margin-top: 4em;
    }
    .encabezado {
        width: 65%;
        height: 10em;
        margin-top: 4em;
        background-image: url(../img/Musicmob.jpg);
    }
    .bodyContenido {
        display: block;
    }
    .producto {
        width: 100%;
    }
    .img {
        width: 100%;
        height: 50em;
        background-color: gray;
    }
}
